<div
  class="blog-post-content rte"
  style="
    --blog-post-content-max-width:
      {% if block.settings.width_mode == 'page' %}
        min(var(--page-content-width, var(--normal-content-width)), 100%)
      {% else %}
        min(1200px, 100%)
      {% endif %}
      ;
  "
>
  <rte-formatter>
    {{ article.content }}
  </rte-formatter>
</div>

{% stylesheet %}
  .blog-post-content {
    max-width: var(--blog-post-content-max-width, var(--normal-content-width));
    margin: 0 auto;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.content",
  "settings": [
    {
      "type": "select",
      "id": "width_mode",
      "label": "t:settings.width",
      "options": [
        {
          "value": "fixed",
          "label": "1200px"
        },
        {
          "value": "page",
          "label": "t:options.page_width"
        }
      ],
      "default": "fixed"
    }
  ],
  "presets": [
    {
      "name": "t:names.content"
    }
  ]
}
{% endschema %}
