#ContactForm-CustomDropdown {
    width: 100%;
    text-overflow: ellipsis;
    color: var(--color-input-text);
    background-color: var(--color-input-background);
    padding: var(--padding-lg) var(--padding-xl);
    border-radius: var(--style-border-radius-inputs);
    border: var(--style-border-width-inputs) solid var(--color-input-border);
}

.contact-form__input.contact-form__select-wrapper {
    padding: 0;
    border: none;
}

/* Broadcast-style collection filters */
main[data-template*='collection'] .collection-wrapper,
main[data-template*='search'] .collection-wrapper {
    align-items: start;
}

@media screen and (min-width: 750px) {
    main[data-template*='collection'] .facets.facets-controls-wrapper,
    main[data-template*='search'] .facets.facets-controls-wrapper {
        position: sticky;
        top: var(--header-height, 0px);
        z-index: var(--layer-sticky);
        background: var(--color-background);
        border-top: var(--style-border-width) solid var(--color-border);
        border-bottom: var(--style-border-width) solid var(--color-border);
    }

    main[data-template*='collection'] .facets--filters-title,
    main[data-template*='search'] .facets--filters-title {
        font-size: var(--font-paragraph--size);
        letter-spacing: var(--letter-spacing-md);
        text-transform: uppercase;
    }

    main[data-template*='collection'] .facets-block-wrapper--vertical,
    main[data-template*='search'] .facets-block-wrapper--vertical {
        position: sticky;
        top: calc(var(--header-height, 0px) + var(--minimum-touch-target));
        align-self: start;
        height: calc(100vh - var(--header-height, 0px) - var(--minimum-touch-target));
        max-height: calc(100vh - var(--header-height, 0px) - var(--minimum-touch-target));
        border-right: var(--style-border-width) solid var(--color-border);
        background: var(--color-background);
        overflow: hidden;
    }

    main[data-template*='collection'] .facets-block-wrapper--vertical .facets--vertical,
    main[data-template*='search'] .facets-block-wrapper--vertical .facets--vertical {
        display: flex;
        flex-direction: column;
        height: 100%;
        max-height: 100%;
        overflow-y: auto;
        padding: var(--padding-lg) var(--padding-lg) var(--padding-xl);
        font-size: var(--font-paragraph--size);
    }

    main[data-template*='collection'] .facets-block-wrapper--vertical .facets__item + .facets__item,
    main[data-template*='search'] .facets-block-wrapper--vertical .facets__item + .facets__item {
        margin-top: var(--padding-lg);
    }

    main[data-template*='collection'] .facets-block-wrapper--vertical .facets__summary,
    main[data-template*='search'] .facets-block-wrapper--vertical .facets__summary {
        border-bottom: var(--style-border-width) solid var(--color-border);
        padding: 0 0 var(--padding-xs);
        font-weight: 600;
        font-size: var(--font-paragraph--size);
    }

    main[data-template*='collection'] .facets-block-wrapper--vertical .facets__item::before,
    main[data-template*='search'] .facets-block-wrapper--vertical .facets__item::before {
        content: none;
    }

    main[data-template*='collection'] .facets-block-wrapper--vertical .facets__panel,
    main[data-template*='search'] .facets-block-wrapper--vertical .facets__panel {
        padding: 0;
    }

    main[data-template*='collection'] .facets-block-wrapper--vertical .facets__inputs-wrapper,
    main[data-template*='search'] .facets-block-wrapper--vertical .facets__inputs-wrapper {
        margin-block: var(--padding-sm) var(--padding-md);
    }

    main[data-template*='collection'] .facets-block-wrapper--vertical .show-more__button,
    main[data-template*='search'] .facets-block-wrapper--vertical .show-more__button {
        justify-content: flex-start;
        padding: 0;
        font-size: var(--font-size--xs);
        letter-spacing: var(--letter-spacing-md);
        text-transform: uppercase;
    }

    main[data-template*='collection'] .facets-block-wrapper--vertical .facets-remove__pill,
    main[data-template*='search'] .facets-block-wrapper--vertical .facets-remove__pill {
        background-color: rgb(var(--color-foreground-rgb) / var(--opacity-5-15));
        padding: 6px 10px;
        border-radius: var(--style-border-radius-md);
        font-size: var(--font-size--xs);
    }
}
